body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
}

h1, h4 ,h6 {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#task-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#task-input {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#task-container {
    position: relative;
    height: 80vh;
    border: 1px solid #ccc;
    overflow: hidden;
    background: white;
}

.task-bubble {
    position: absolute;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    will-change: transform;
}
