<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Logger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Leckerli+One&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Bubble Task made with Flask</h1>
        <h4>Adam Hughes</h4>
        <h6>Imposter Syndrome Professional</h6>
        <form id="task-form">
            <input type="text" id="task-input" placeholder="Enter a task">
            <button type="submit">Add Task</button>
        </form>
        <div id="task-container"></div>

        <div id="task-list">
            <ul>
               
            </ul>
        </div>

    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
